// SETS HEIGHT AND WIDTH OF AN ELEMENT
@mixin size ($width, $height: $width) {
  width: $width;
  height: $height;
}

// SET SVG BACKGOUND IMAGE WITH FALLBACK PNG
@mixin svg_bg($url) {
  background-image: url('../img_vect/#{$url}.png');
  background-image: linear-gradient(transparent, transparent), url('../img_vect/#{$url}.svg');
  background-size: cover;
  background-repeat: no-repeat;
}
